# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
.next-e2e/
out/

# production
build/

# env
.env
.env.local
.env.local.*
.env.*.local
deploy/**/.env
deploy/**/.env.secrets
deploy/**/.env.infrastructure

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# testing
coverage/
playwright-report/
test-results/

# logs
npm-debug.log*
pnpm-debug.log*

# prompt files
*.prompt.md
